@use "../abstract/" as *;
@use "../base/" as *;

.header{
    background: $clr-light;
    .branding{
       @include flexbetween;
        h4.details{
           display: none;
            i{
                color: $clr-primary;
                font-size: 2.5rem;
            }
        }
        .toggle_menu{
            background: $clr-primary;
            padding: 1rem;
            border-radius: 1rem;
            span{
                width: 2.5rem;
                height: .3rem;
                background-color: $clr-light;
                display: block;
                border-radius: 5rem;
                transition: 0.5s ease;
                &:nth-child(2){
                    margin: .5rem 0;
                }
            }
            &.open{
                span{
                &:first-child{
                    transform: translateY(6px) rotate(225deg);
                    transition: 0.5s ease;
                }
                &:last-child{
                    transform: translateY(-10px) rotate(-225deg);
                    transition: 0.5s ease;
                }
                &:nth-child(2){
                    opacity:0;
                }
            }
          }
        }
    }
    &_details{
    h4{
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin-top: 2rem;
        i{
            color: $clr-primary;
            font-size: 2.5rem;
        }
        span{
            font-weight: 400;
            font-size: 1.2rem;
        }
    }
}
    &_actions{
        display: flex;
        // margin-top: 5rem;
        margin:2rem 0;
        justify-content: space-between;
        ul.header_nav{
            // display: none;
            background: #e3e2e2;
            position: absolute;
            top: 10rem;
            left: 0rem;
            width: 100%;
            max-height: 0rem;
            padding: 0rem;
            display: flex;
            flex-direction: column;
            text-align: center; 
            overflow: hidden;
            transition: .5s ease;
            gap:2rem;
            &.open{
                max-height: 50rem;
                padding: 5rem;
                transition: .5s ease;
            }
            li{
                // padding: 1.5rem;
                transition: .5s ease;
                position: relative;
                &::after{
                    content: '';
                    width: 4rem;
                    height: .2rem;
                    background-color:transparent;
                    display: block;
                    position: absolute;
                    right: 25rem;
                    top: 50%;
                    transition: .5 ease;
                }
                a{
                    color: $clr-dark;
                }
                &:hover{
                    transform: translateX(-5rem);
                    transition: .5s ease;
                    &::after{
                        content: '';
                        background-color: $clr-primary;
                        right: 10rem;
                        transition: .5s ease;
                    }
                }
            }
        }
        ul.header_social{
            display: flex;
            gap: 2rem;
        }
        ul.header_extra{
            display: flex;
            gap:2rem;
        }
    }



@include mediaquery($break-lg){
    &_details{
        display: none;
    }
    .branding{
        h4.details{
            display: flex;
            gap: 2rem;
        }
        .toggle_menu{
            display: none;
        }
}




&_actions{
        display: grid;
        grid-template-columns: 3fr .8fr .8fr;
        justify-items: flex-end;    
        margin-top: 5rem;
        
        ul.header_nav{
            position: static;
            max-height: fit-content;
            display: flex;
            flex-direction: row;
            background: $clr-light;
            width: unset;
            justify-items: flex-end;
            li{
                &:hover{
                    transform: translateX(0rem);
                    a{
                        color: $clr-primary;
                    }
                    &::after{
                        content: '';
                        display: none;
                    }
                }
            }
        }
        ul.header_social{
            display: flex;
            gap: 2rem;
        }
        ul.header_extra{
            display: flex;
            gap: 2rem;
        }
    }
}
}











    